{% load staticfiles %}
{% load main_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html prefix='og: http://ogp.me/ns#'>
<head>

<meta property="og:title" content="蔡佩軒 Ariel Tsai-國際官方網站" ></meta>
<meta property="og:type" content="website" ></meta>
<meta property="og:description" content="Ariel Tsai Official Site- Ariel唯一官方網站｜最新作品｜廣告代言｜直播節目｜合作聯繫 SUPER MEDIA" ></meta>
<meta property="og:image" content="/static/img/banner2.jpg" ></meta>
<meta property="og:url" content="http://arieltsai.cc/" ></meta>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<link rel="Shortcut Icon" type="image/x-icon" href="{% static "img/favicon.ico"%}"/>
<title>蔡佩軒 Ariel Tsai</title>
<link href="{% static "css/reset.css"%}" rel="stylesheet" type="text/css" />
<link href="{% static "css/action.css"%}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "css/categorySlide.css"%}">
<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/public.js"%}"></script>

<!--輪播用 start-->
<script src="{% static "js/amazingslider.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "js/amazingslider-1.css"%}">
<script src="{% static "js/initslider-1.js"%}"></script>
<!--輪播用 End-->

<!--FB留言用 start-->
<!-- pilipress::fb_admins -->
  <meta property="fb:admins" content="1484677847" />
  <meta property="fb:app_id" content="738631256291664" />
  <!-- /pilipress::fb_admins -->
	<meta charset="utf-8">
<script>

  function fb_share() {
		//強制更新內容
		$.ajax({
		  type: 'GET',
		  url: "https://graph.facebook.com/?id=http://arieltsai.cc&amp;scrape=true&amp;method=post",
		  success: function(data) {
		    console.log(data)
		    window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent('http://arieltsai.cc/')))
		  }
		});


	}


	//FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
</script>
<!--FB留言用 End-->
<!--a 錨點滑動 start-->
 <script>
   $(function () {
       $('a[href*=#]:not([href=#])').click(function() {
           var target = $(this.hash);
           $('html,body').animate({
               scrollTop: target.offset().top-100
           }, 600);
           return false;
       });

   });
</script>
<!--a 錨點滑動 End-->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v2.8&appId=1699895533668541";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</head>
<body>
<div class="wrap">
	<header>
		<div class="logoBox">
			<a href="#" target="_blank"><img src="{% static "img/ArielWhite.png"%}" style="width: 100px;margin-top: 12px;" /></a>
			<div id="loginBox" {% if not request.user.is_authenticated %}style=
			"display:none"{% else %}style=
			"display:none;" {% endif %}>
				<a id="facebook_login" href="/account/facebook/login">登入</a>
			</div>
			<div id="logoutBox" {% if request.user.is_authenticated %}style=
			"display:inline-block;"{% else %}style=
			"display:none;" {% endif %}>
				<div class="loginBox">
					<div>
						<img src="{{pic_url}}" />
						<sapn class="dropdownIcon"></sapn>
					</div>
				</div>
				<div class="logoinMenu">
					<ul>
						<li><span class="fbUserName">{{name}}</span></li>
						<li><a href="/account/user_logout">登出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="tabs fixed show-tab dark" fixed-tabs="#tv-tabs" ng-class="{'show-tab' : showTabs}" style="z-index:99;">
	  		<a href="#anchor1" class="tab" style="margin-left:5px;">直播節目</a>｜
	  		<a href="#anchor2" class="tab">熱門歌曲</a>｜
	  		<a href="#anchor3" class="tab">歌曲下載</a>｜
	  		<a href="#anchor5" class="tab">關於Ariel</a>｜
	  		<a href="https://www.facebook.com/groups/605431339647039/?fref=ts" target="_blank" class="tab">加入小魚社團</a>｜
	  		<a href="#anchor6" class="tab">相關社群</a>｜
	  		<a href="https://docs.google.com/a/supermedia.cool/forms/d/e/1FAIpQLSd_jLaqfqOk07l-7cw1KquwX6cQw91yb13DqghgiudZAF135g/viewform" target="_blank" class="tab">與我合作</a>
		</div>
	</header>
	<div class="container" id="anchor1">
		<div class="mvEvent musicBox">
			<div class="musicBoxImg"><img src="/static/img/banner.jpg"></div>
			<h2 style="padding-top: 20px;margin-bottom: -15px;">直播節目</h2>
			<p style="padding:10px;line-height:26px;">
				請鎖定我的臉書直播，按讚追蹤「搶先看」<br />
				每周一，三，六　晚上10:30<br />
				直播頻道<br />
				<div class="fb-page" data-href="https://www.facebook.com/arieltsaimusic/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/arieltsaimusic/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/arieltsaimusic/">蔡佩軒 Ariel Tsai</a></blockquote></div>
			</p>
		</div>
		<div class="musicBox" id="anchor2">
			<!--<div class="musicBoxImg"><img src="{% static "img/0206.jpg"%}" /></div>-->
			<!--影片輪播 start-->
			<!-- Insert to your webpage where you want to display the slider -->
		    <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:610px;margin:0px auto 56px;">
		        <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
		            <ul class="amazingslider-slides" style="display:none;">
		                <li><img src="{% static "img/6RFSEz0OqWY.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/6RFSEz0OqWY?v=6RFSEz0OqWY" ></video>
		                </li>
		                <li><img src="{% static "img/AsC0CN2eGkY.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/AsC0CN2eGkY?v=AsC0CN2eGkY" ></video>
		                </li>
		                <li><img src="{% static "img/lTjNFA4NmBc.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/lTjNFA4NmBc?v=lTjNFA4NmBc" ></video>
		                </li>
		                <li><img src="{% static "img/K1BJ4M14ANQ.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/K1BJ4M14ANQ?v=K1BJ4M14ANQ" ></video>
		                </li>
		                <li><img src="{% static "img/6CWw2RyBXC8.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/6CWw2RyBXC8?v=6CWw2RyBXC8" ></video>
		                </li>
		                <li><img src="{% static "img/fFSePi_E4Zk.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/fFSePi_E4Zk?v=fFSePi_E4Zk" ></video>
		                </li>
		                <li><img src="{% static "img/NB4TzUeE_H0.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/NB4TzUeE_H0?v=NB4TzUeE_H0" ></video>
		                </li>
		                <li><img src="{% static "img/D5wO_WttZbo.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/D5wO_WttZbo?v=D5wO_WttZbo" ></video>
		                </li>
		                <li><img src="{% static "img/9s0oYrYwDOY.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/9s0oYrYwDOY?v=9s0oYrYwDOY" ></video>
		                </li>
		                <li><img src="{% static "img/DMFAtrY343k.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/DMFAtrY343k?v=DMFAtrY343k" ></video>
		                </li>
		                <li><img src="{% static "img/RbPI1_y1RAo.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/RbPI1_y1RAo?v=RbPI1_y1RAo" ></video>
		                </li>
		                <li><img src="{% static "img/ns7Ox9DujJM.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/ns7Ox9DujJM?v=ns7Ox9DujJM" ></video>
		                </li>
		                <li><img src="{% static "img/ErII2m5xWUg.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/ErII2m5xWUg?v=ErII2m5xWUg" ></video>
		                </li>
		                <li><img src="{% static "img/QG1zfZ8Q0MQ.jpg"%}" />
		                <video preload="none" src="https://www.youtube.com/embed/QG1zfZ8Q0MQ?v=QG1zfZ8Q0MQ" ></video>
		                </li>
		            </ul>
		            <ul class="amazingslider-thumbnails" style="display:none;">
		            	<li><img src="{% static "img/6RFSEz0OqWY-tn.jpg"%}" /></li>
		                <li><img src="{% static "img/AsC0CN2eGkY-tn.jpg"%}" /></li>
		                <li><img src="{% static "img/lTjNFA4NmBc-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/K1BJ4M14ANQ-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/6CWw2RyBXC8-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/fFSePi_E4Zk-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/NB4TzUeE_H0-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/D5wO_WttZbo-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/9s0oYrYwDOY-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/DMFAtrY343k-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/RbPI1_y1RAo-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/ns7Ox9DujJM-tn.jpg"%}"  /></li>
		                <li><img src="{% static "img/ErII2m5xWUg-tn.jpg"%}" /></li>
		                <li><img src="{% static "img/QG1zfZ8Q0MQ-tn.jpg"%}"  /></li>
		            </ul>
		        <div class="amazingslider-engine"><a href="http://amazingslider.com" title="Responsive JavaScript Image Slider">Responsive JavaScript Image Slider</a></div>
		        </div>
		    </div>
		    <!-- End of body section HTML codes -->
			<!--影片輪播 End-->
			<!--<div class="musicBoxTxt">
				<h2>清新創作女聲-蔡佩軒 Ariel Tsai</h2>
			</div>-->
		</div>
		<div class="musicBox" id="anchor3">
			<h2>歌曲下載</h2>
			<div class="musicBoxTxt">
				<!--<h3>單曲下載：</h3>-->
				<p>
					<a href="http://kkbox.fm/aa1omL" target="_blank">KKbox</a> |
					<a href="https://www.indievox.com/disc/12324" target="_blank">Indievox</a> |
					<a href="http://music.fetnet.net/albumpage.php?album_id=1321492" target="_blank">Omusic</a> |
					<a href="http://www.mymusic.net.tw/ux/w/album/show/448007" target="_blank">myMusix</a> |
					<a href="http://bit.ly/2nqlLgI" target="_blank">hmv</a> |
					<a href="https://moov.hk/share/appshare.jsp?pageid=11&profileId=VASV00223909A" target="_blank">MOOV</a> |
					<a href="https://y.qq.com/n/yqq/song/001KUJWn3ZnmGm.html" target="_blank">QQ音樂</a> |
					<a href="http://music.163.com/#/album?id=35261279" target="_blank">网易云音乐</a> |
					<a href="http://music.baidu.com/album/537900577?pst=sug" target="_blank">百度音乐</a> |
					<a href="http://www.kuwo.cn/album/2152799?catalog=yueku2016" target="_blank">酷我音乐</a> |
					<a href="http://www.kugou.com/yy/html/search.html#searchType=song&searchKeyWord=蔡佩轩 妮妮" target="_blank">酷狗音乐</a>
				</p>
				<!--<div class="ringBoxTxt">
					<!--<h3>來電答鈴下載：</h3>
					<ul>
						<li>
							<a href="#" target="_blank">遠傳</a> |
						</li>
						<li>
							<a href="#" target="_blank">亞太</a> |
						</li>
						<li>
							<a href="#" target="_blank" target="_blank">中華</a> |
						</li>
						<li>
							<a href="#" target="_blank">台灣大哥大</a> |
						</li>
						<li>
							<a href="#" target="_blank">台灣之星</a>
						</li>
					</ul>
				</div>

			</div>-->
		</div>

		<div class="aboutBox" id="anchor5">
			<!--<div class="aboutBoxImg"><img src="{% static "img/0221.jpg"%}" /></div>-->
			<h2>關於 Ariel</h2>
			<div class="aboutBoxTxt">
				<p>蔡佩軒 Ariel Tsai（1995年1月23日 - ）新生代創作女歌手，出生於台灣台北，從小移居加拿大溫哥華。現就讀加拿大英屬哥倫比亞大學 (University of British Columbia) 藥學系。</p>
				<div id="more">
					<p>蔡佩軒</p>
					<p>英文名：Ariel Tsai</p>
					<p>出生地：台北</p>
					<p>生日：1/23</p>
					<p>星座：水瓶</p>
					<p>血型：O型</p>
					<p>學歷：University of British Columbia (UBC) Pharmacy 藥學系大三</p>
					<p>興趣愛好：寫歌，彈琴唱歌，看電影，旅遊，與家人朋友吃飯聊天</p>
					<p>信仰：基督教</p>
					<p>最難忘的經歷：在大一時創了一個社團 Big Brothers at UBC，不到一年有了超過一百個會員和二十個幹部！</p>
					<p>最驕傲的事：小學，初中，和高中都第一名畢業</p>
					<p>最喜歡的事：做音樂</p>
					<p>最喜歡的電影：傲慢與偏見Pride and Prejudic</p>
					<p>最喜歡的動物：狗</p>
					<p>最喜歡的顏色：綠色</p>
					<p>最喜歡的季節：秋天有楓葉的時候</p>
					<p>最喜歡的運動：溜冰</p>
					<p>最喜歡的城市：溫哥華</p>
					<p>最喜歡的飾物：手錶</p>
					<p>最喜愛的食物：生魚片，羊肉</p>
					<p>最喜愛的甜品​​：馬卡龍，milli crepe</p>
					<p>最喜愛的水果：藍莓，芒果</p>
					<p>最喜歡的飲料：抹茶類的飲料</p>
					<p>最大的願望和夢想：能讓大家聽到和喜歡我的音樂！</p><br />
					<p>
					新生代創作歌手【蔡佩軒 Ariel Tsai】溫暖翻唱師兄【那對夫妻-KIM林京燁】告白神曲《妮妮》。Ariel 溫暖療癒的嗓音和不同的詮釋方式詮釋《妮妮》，獲得各大媒體相繼報導，佳評如潮。Ariel 因為第一次聽到《妮妮》便覺得很感動很溫暖，所以決定翻唱和傳遞這首歌的正能量，發佈至今已感動百萬聽眾，獲得熱烈迴響。
					</p>
					<p>Ariel 5歲開始學鋼琴，從小喜歡音樂喜歡寫歌，在14歲的時候寫出第一首完整自己作詞作曲的歌。
					<p>平常除了錄音寫歌之外，空閑的時候在教會服侍，帶小組和敬拜樂團擔任主領主唱。現在就讀ＵＢＣ藥學系大三。最喜歡跟家人朋友在一起和看很多很多的電影！</p>
					<p>2016年9月Ariel開始在臉書經營自彈自唱的直播節目，翻唱許多熱門排行榜好歌，深獲觀眾喜愛，至今累積超過50集平均每集直播10-20萬次瀏覽。</p>
					<p>Rising singer/songwriter Ariel Tsai covers “Nini,” the number one hit love song in Asia originally by Kim from The Couple. Ariel reinterprets the song with her warm and comforting vocals, gaining a lot of media attention from famous news sources and various social media platforms. When Ariel first heard “Nini,” she was very moved by the song and decided to cover it in hopes of spreading that same positive energy to those who heard it as well. Within 2 weeks of its release, Ariel’s cover of “Nini” hit over 1.8 million views, continuing to impact and touch many who hear the song.
	Ariel Tsai (born 23 January 1995) is a Taiwanese singer/songwriter, born in Taipei, Taiwan and grew up in Vancouver, Canada. She is currently studying Pharmacy at the University of British Columbia. </p>
					<p>Passionate about music from a young age, Ariel started playing piano at age 5 and wrote her first song at age 14. </p>
					<p>Since September 2016, Ariel has been livestreaming on her Facebook page, showcasing her singing and piano playing skills by covering various popular songs live. She has gained immensely positive feedback and attention since then, with over 50 livestream episodes, each with an average of 100K to 200K views.</p>
				</div>
			</div>
		</div>
		<a id="moreBtn">展開</a>
		<div class="musicBox">
			<h2>加入小魚家族</h2>
			<div class="musicBoxTxt">
				<a href="https://www.facebook.com/groups/605431339647039/" target="_blank" class="joinMe group blueBtn">FB<br>小魚家族社團</a>
				<a href="https://www.facebook.com/love.warm.ariel/?hc_ref=SEARCH" target="_blank" class="joinMe group brownBtn">FB Ariel<br>全球後援會</a>
				<a href="https://www.youtube.com/channel/UCDfn4siiQLKSJqKTJdPht0A" target="_blank" class="joinMe group redBtn">Youtube<br>全球後援會</a>
			</div>
		</div>
		<div class="musicBox" style="display:none;">
			<h2>小魚家族見面會</h2>
			<div class="musicBoxTxt">
				<form>

				</form>
			</div>
		</div>
		<div class="shareBox" id="anchor6" style="margin-bottom:0px;">
			<h2>相關社群</h2>
			<div class="shareOther">
				<a href="javascript: void(window.open('http://www.facebook.com/share.php?u='.concat(encodeURIComponent(location.href)) ));" title="推上Facebook"> <img src="{% static "img/fb_share.png"%}"/> </a>
				<!--<a href="javascript: void(fb_share());">
					<img src="{% static "img/fb_share.png"%}"/>
				</a>-->
				<!--<a href="http://bit.ly/ariel_tsai_FB" target="_blank"><img src="{% static "img/fb_share.png"%}"></a>-->
				<a href="http://bit.ly/ariel_tsai_youtube" target="_blank"><img src="{% static "img/youtube.png"%}"></a>
				<a href="http://bit.ly/ariel_tsai_IG" target="_blank"><img src="{% static "img/IG.png"%}"></a>
				<a href="http://bit.ly/ariel_kkbox" target="_blank"><img src="{% static "img/kkbox.png"%}"></a>
				<a href="http://bit.ly/ariel_tsai_meipai" target="_blank"><img src="{% static "img/vedio.png"%}"></a>
				<a href="http://bit.ly/ariel_tsai_weibo" target="_blank"><img src="{% static "img/weibo.png"%}"></a>
			</div>

		</div>
	</div>
</div>
<footer>
	<div style="padding-top: 14px;"><img src="{% static "img/logo.svg"%}"></div>
	<p>
		<a href="https://docs.google.com/a/supermedia.cool/forms/d/e/1FAIpQLSd_jLaqfqOk07l-7cw1KquwX6cQw91yb13DqghgiudZAF135g/viewform" target="_blank" style="margin-top: 5px;">與我合作</a><br />
		<a href="mailto:service@supermedia.cool" target="_blank">service@supermedia.cool</a>
	</p>
	<p><span>© <a href="http://supermedia.cool/" target="_blank">2016 SUPER MEDIA</a> All rights reserved</span>
		<!--<span class="lineMiddle"> | </span>-->
	</p>
</footer>
<!--giftBox start-->
	<div id="fb-root"></div>

  	<!--giftBox End-->
  	<!--關於Ariel 顯視更多 start-->
  	<script type="text/javascript">
  	$( "#moreBtn" ).click(function() {
	   $( "#more" ).slideToggle( "fast", function() {
	     // Animation complete.
	     if($("#more").css('display') == 'block'){
		   	 $( "#moreBtn" ).html("收起");
		   }else if($("#more").css('display') == 'none'){
		   	 $( "#moreBtn" ).html("展開");
		   }
	   });

	 });
  	</script>
  	<!--關於Ariel 顯視更多 End-->
</body>
</html>
